.match-sec {
  display: flex;
  margin-top: 3.1rem;
}
.matches {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.match {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 30px;
}

.country {
  display: flex;
  align-items: center;
  justify-content: center;
}

.country h3 {
  padding: 10px;
}

.match-info {
  text-align: center;
}

.match-info h3 {
  padding: 20px 0;
}

/* --------------------------- 
  Responsive Design for Tablet
------------------------------*/

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .hero-sec {
    padding: 0 1.1rem;
  }

  .half-width {
    width: 50%;
  }

  .banner-info {
    margin-right: 0.7rem;
    padding: 2.3rem 0;
  }

  .banner-info h1 {
    font-size: 1.6rem;
  }

  .banner-img {
    width: 20%;
    margin-left: 0.71rem;
    padding-top: 2.7rem;
  }

  .blogs-sec {
    display: flex;
    flex-direction: column;
  }
  .blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
  }

  .d-none {
    display: none;
  }

  .blog-cat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    background: none;
  }
  .btn-white {
    border: 1px solid #ddd;
    margin-right: 25px;
  }

  .btn-view {
    display: inline-block;
    width: 80px;
  }
}

/* --------------------------- 
  Responsive Design for Smartphones
------------------------------*/

@media screen and (max-width: 767px) {
  .hero-sec {
    display: flex;
    flex-direction: column;
    padding: 0 2.1rem;
    align-items: center;
  }

  .banner-info {
    margin-right: 1.1rem;
    padding: 1.3rem 0;
    width: 100%;
  }

  .banner-info h1 {
    font-size: 1.3rem;
  }

  .banner-img {
    width: 100%;
    padding-top: 2.7rem;
  }

  .blogs-sec {
    display: flex;
    flex-direction: column;
  }

  .blogs {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-content: center;
  }

  .blog-cat {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 80%;
    height: auto;
    background: none;
    padding: 0 15px;
    margin-bottom: 1.2rem;
  }
  .btn-white {
    border: 1px solid #ddd;
    margin-top: 25px;
  }

  .d-none {
    display: none;
  }

  .foot-nav {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
  }
}
